<div id="top-ref" class="mx-3 my-4 d-flex align-items-center align-center">
    <a href="">Cars</a>
    <img src="../assets/chevron-right.png" alt="" style="width: 15px; height: fit-content;">
    <a href="/">List Car</a>
    <img src="../assets/chevron-right.png" alt="" style="width: 15px; height: fit-content;">
    <a class="active" href="">Add New Car</a>
</div>

<div class="ms-3 d-flex justify-content-between">
    <h2>Add New Car</h2>
</div>

<form action="/api/postCar" method="POST" class="p-3 my-3" enctype="multipart/form-data">
    <div class="d-flex align-items-center my-3">
        <span class="input-label ms-3" id="inputGroup-sizing-default">Nama</span>
        <input name="name" type="text" class="form-control input-field" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Avanza" required>
    </div>
    <div class="d-flex align-items-center mb-3">
        <span class="input-label ms-3" id="inputGroup-sizing-default">Sewa Per Hari</span>
        <input name="rent" type="text" class="form-control input-field" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" placeholder="Rp.0,-" required>
    </div>
    <div class="d-flex align-items-center mb-3">
        <span class="input-label ms-3" id="inputGroup-sizing-default">Ukuran</span>
        <select name="size" type="text" class="form-select input-field" aria-label="Default select example" aria-describedby="inputGroup-sizing-default" required>
            <option value="Small" selected>Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
        </select>
    </div>
    <div class="d-flex align-items-center mb-3">
        <span class="input-label ms-3" id="inputGroup-sizing-default">Foto</span>
        <!-- <input name="img" type="file" class="form-control input-field" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required> -->
        <input type="file" name="img" class="form-control input-field"/>
    </div>
    <div class="d-flex flex-row">
        <a href="/" class="btn m-1 d-flex btn-cancel">Cancel</a>
        <button type="submit" href="#" class="btn m-1 btn-success d-flex btn-save">Save</button>
    </div>
</form>

