<div id="side-bar" class="col-1">
    <div class="col text-center">
        <img src="../assets/fi_home.png" alt="">
        <p>Home</p>
    </div>
    <div class="col text-center">
        <img src="../assets/fi_truck.png" alt="">
        <p>Cars</p>
    </div>
</div>